.toggle-add{
    margin: 0rem 2rem 2rem;
    padding: 0.75rem 2rem;
    border-radius: 1rem;
    border: #e7e7e7 1px solid;
    color: white;
    background-color: $darkgrey;

    &:hover {
        background-color: $teal;
    }
}


.toggle-close {
    outline: none;
    border: none;
    margin: 1rem;
    color: white;
    background-color: lightgray;
    padding: 0.25rem .5rem;
    border-radius: 1rem;
    &:hover {
        background-color: $darkgrey;
    }
}
.addprogram{
    @include flex(row, center, center);
    flex-wrap: wrap;
    width: 70%;
    background-color: $offwhite;
    border-radius: 1rem;
    position: absolute;
    margin: 0 auto;
    left: 15vw;
    top: 20vh;

    &__title {
        padding: 3rem 1rem 1rem;
        border-bottom: 0.125rem $teal solid;
    }
    &__input{
        padding: 0.5rem 6.5rem 0.5rem 1rem;
        margin: 0.5rem 1rem;
        border-radius: 1rem;
        outline: none;
        border: #E7E7E7 1px solid;

        &:focus {
            border: $teal 0.125rem solid;
        }

        &--mastery{
            padding: 0.5rem 1rem;
        }
    }
    &__form{
        @include flex (row, center, center);
        flex-wrap: wrap;
        width: 100%;
        margin: 2rem;
    }
    &__container{
        width: 40%;
    }
    &__name{
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
    }
    &__index{
        @extend .addprogram__name;
    }
    &__category{
        @extend .addprogram__name;
    }
    &__mastery{
        @extend .addprogram__name;
        &requiredTrials{
            width: 20%;
            margin: 0.5rem 5rem;
        }
        &requiredCorrect{
            width: 20%;
            margin: 0.5rem 5.35rem;
        }
    }
    &__description{
        @extend .addprogram__name;
    }
    &__task{
        @extend .addprogram__name;
    }

    &__button {
        margin: 2rem 1rem 2rem 0;
        padding: 1rem;
        width: 30%;
        border-radius: 1rem;
        outline: none;
        border: 0.25rem solid #E7E7E7;
        background-color: $darkgrey;
        color: white;
    }
}

.input-label {
    width: 70%;
    padding: 0.5rem;
    border-bottom: 0.125rem solid $teal;
    margin: 1rem;
}