.toggle-add{
    margin: 0rem 2rem 2rem 3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: #e7e7e7 1px solid;
    color: white;
    background-color: $darkgrey;

    &:hover {
        background-color: $teal;
    }
}

.toggle-close {
    margin: 3rem 1rem 0 ;
    background-color: white;
    border: none;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    color: rgb(39, 250, 239);
    padding: 1rem;
    &:hover {
        background-color: $lightgrey;
    }
}
.addprogram{
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    background-color: white;
    position: absolute;
    margin: 0 auto;
    left: 30%;
    top: 15%;

    &__title {
        padding: 3rem 1rem 1rem;
        border-bottom: 0.125rem $teal solid;
    }
    &__input{
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: 0.5rem 1rem;
        border-radius: 1rem;
        outline: none;
        border: #E7E7E7 0.125rem solid;
        width: 70%;
        &:focus {
            border: $teal 0.125rem solid;
        }

        &:hover {
            border: 0.125rem $lightgrey solid;
        }

        &--mastery{
            padding: 0.5rem 1rem;
        }
    }
    &__form{
        @include flex (row, center, center);
        flex-wrap: wrap;
        width: 100%;
    }
    &__container{
        width: 40%;
        margin: 1rem 2rem;
        &--mastery{
            @include flex(row, flex-start, center);
            flex-wrap: wrap;
        }
    }
    &__name{
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
    }
    &__index{
        @extend .addprogram__name;
    }
    &__category{
        @extend .addprogram__name;
    }
    &__mastery{
        @extend .addprogram__name;

    }
    &__description{
        @extend .addprogram__name;
    }
    &__task{
        @extend .addprogram__name;
    }

    &__button {
        margin: 2rem 1rem 2rem 0;
        padding: 1rem;
        width: 30%;
        border-radius: 1rem;
        outline: none;
        border: 0.25rem solid #E7E7E7;
        background-color: $darkgrey;
        color: white;

        &:hover {
            background-color: $teal;
        }
    }
}

.input-label {
    width: 70%;
    padding: 0.5rem;
    border-bottom: 0.125rem solid $teal;
    margin: 1rem;
}