.client {
    background-color: #a1a1a1;
    color: rgba($color: #1d1d1d, $alpha: 1);
    margin: 0;
    padding: 4rem 0;
    min-height: 100vh;
    position: relative;
    &-details {
        @include flex(row, flex-start, baseline);
        flex-wrap: wrap;
        width: 80%;
        background-color: white;
        border-radius: 1rem 1rem 0 0;
        margin: 0rem auto;
        padding: 2rem 2rem;
        background-color: $teal;

        &__container {
            width: 33%;
            padding: 2rem 0 1rem 3rem;
        }
        &__header {
            width: 100%;
        }
    }
    &-programs {
        width: 80%;
        margin: 0 auto;
        background-color: $offwhite;
        border-radius: 0 0 1rem 1rem;
        min-height: 100vh;
        padding: 1rem 0 4rem;
        &__header{
            padding: 2rem;
        }
        &-list{
            border-radius: 1rem;
            min-height: 80vh;
            max-height: 80vh;
            overflow: scroll;

        }
    }   
}