.client {
    color: rgba($color: #1d1d1d, $alpha: 1);
    margin-top: 8vh;
    min-height: 80vh;
    position: relative;
    &-details {
        @include flex(row, flex-start, baseline);
        flex-wrap: wrap;
        width: 100%;
        background: url("../Assets/Images/capstone_hero.jpg"), linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25));

        background-size: cover;
        margin: 0rem auto;
        padding: 2rem 10vw;

        &__title{
            @include flex (row, center, center);
            width: 100%;
            color: $darkgrey;
        }
        &__home{
            text-decoration: none;
            padding: 0.5rem 1rem;
            font-weight: bold;
            font-size: larger;
            color: $darkgrey;
            border-radius: 4rem;
            &:hover {
                background-color: $lightgrey;
            }

        }
        
        &__container {
            width: 30%;
            height: 15vh;
            padding: 3rem;
            margin: 0 auto;
            backdrop-filter: blur(0.5rem);

            border-radius: 1rem;
        }
        &__header {
            width: 100%;
        }
    }
    &-programs {
        width: 100%;
        margin: 0 auto;
        border-radius: 0 0 1rem 1rem;
        min-height: 180vh;
        padding: 1rem 5vw 4rem;
        &__header{
            padding: 2rem;
            width: 20%;
            margin-left: 2rem;

        }
        &-list{
            border-radius: 1rem;
            min-height: 80vh;
            max-height: 80vh;
            overflow: scroll;
            margin-left: 1rem;

        }
    }   
}