.landing-page{
    @include flex(row, center, center);
    flex-wrap: wrap;
    background-color: $darkgrey;

    &__header{
        width: 60%;
        padding: 20rem 0 2rem;
        text-align: center;
        color: $offwhite;
        border-bottom: 2px $teal solid ;

    }
}

.client-list {
    @include flex (row, center, center);
    list-style-type: none;
    width: 60%;
    padding: 3rem 0 20rem;
}

.client-card {
    margin: 0 2em;
    background-color: $offwhite;
    height: 5rem;
    width: 5rem;
    text-align: center;
    padding: 3rem 0;
    border-radius: 1rem;
    box-shadow: $teal 4px 4px;
}