.program-details{
    width: 50%;
    &-card{
        width: 100%;
        list-style-type: none;
        // border-radius: 1rem;
        padding-bottom: 1rem;
        margin: 2rem 0;
        background-color: $offwhite;
        box-shadow: #E7E7E7 0.5rem 0.5rem;

        &list{
            margin: 1rem 0;
        }
    }

    &__header{
        @include flex(row, space-around, center);
        flex-wrap: wrap;
        padding: 2rem;
        background-color: $teal;
        border-radius: 1rem 1rem 0 0;
    }
    &__name{
        width: 60%;
        color: #1D1D1D;
    }
    &__level{
        margin-left: auto;
        color: #1D1D1D;
        margin: 0 0 0 2rem;

    }
    &__category{
        margin-left: auto;
        color: #1D1D1D;

    }

    &__completion{
        padding: 1rem 2rem 0 ;
    }
    &__info{
        padding: 0rem 2rem;
    }
    &__label{
        padding: 1rem 0 0 0;
    }

    &__notes{
        
        &--title{
            padding: 1rem 2rem 0;
        }

        &-list{
            padding: 0rem 2rem 1rem;
            list-style-type: none;  
        }
    }

    &__card{
        padding: 1rem 0;
    }
}

.loading-details{
    position: absolute;
    top: 30rem;
    left: 30rem;
    color: #A1A1A1;
}