.program-details{
    width: max-content;
    &-card{
        margin: 1rem 0;
        padding: 0rem 3rem 2rem 5rem;
    }
    &__header{
        @include flex(row, flex-start, baseline);
        flex-wrap: wrap;
        padding: 1rem;
        border-bottom: 1px $lightgrey solid;
        margin: 1rem 0;

    }
    &__name{
        width: 60%;
        margin-top: 1rem;
    }
    &__level{
        margin-left: auto;
    }
    &__category{
        width: 100%;
        text-align: right;
    }

    &__completion{
        padding: 0.5rem 1rem;
    }

    &__info{
        @extend .program-details__completion;
    }

    &__notes{
        @extend .program-details__completion;
        margin-bottom: 1rem;
    }

    &__card {
        list-style-type: none;
        padding: 1rem 0;
        border-bottom: 1px lightgray solid;
    }

    &__label {
        border-bottom: $teal 1px solid;
        padding: 0.5rem 0;
    }

    &__goal{
        margin: 0.5rem 0;
    }

    &__task{
        margin: 0.5rem 0;
    }
}

.toggle-updateform{
    width: 30%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px lightgrey solid;
    margin-left: 70%;
    background-color: $darkgrey;
    color: white;
    &:hover {
        background-color: $teal;
    }
}

.toggle_update{
    background-color: white;
    border: none;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 4rem;
    color: rgb(39, 250, 239);
    padding: 0.5rem 1rem;
    margin: 0 1rem 0 0;
    &:hover {
        background-color: $lightgrey;
    }
}

.updateProgramButton {
    @extend .toggle-updateform;
}

#program_currentCorrect {
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 5vw;
    border: 1px #A1A1A1 solid;
    outline: none;

    &:hover {
        border: 1px $teal solid;
    }

    &:focus {
        border: 1px $teal solid;
    }
}

#program_currentTrials{
    @extend #program_currentCorrect;
}

::placeholder {
    color: #A1A1A1;
}

.run{
    &__goal{
        margin: 0 3rem;
    }
    &__completion{
        @extend .run__goal;
    }
    &__notes{
        @extend .run__goal;
    }
}

#program_createNewNote{
    margin: 1rem 3rem;
    padding: 1rem 2rem;
    width: 80%;
    outline: none;
    border: 1px lightgrey solid;
    border-radius: 1rem;

    &:hover {
        border: 1px solid $teal;
    }
    &:focus {
        border: 1px $teal solid;
    }
}
// .program-details{
//     width: 100%;
//     &-card{
//         list-style-type: none;
//         // border-radius: 1rem;
//         padding-bottom: 1rem;
//         margin: 2rem 0;
//         background-color: $offwhite;
//         box-shadow: #E7E7E7 0.5rem 0.5rem;

//         &list{
//             margin: 1rem 0;
//         }
//     }

//     &__header{
//         @include flex(row, space-around, center);
//         flex-wrap: wrap;
//         padding: 2rem;
//         background-color: $teal;
//         border-radius: 1rem 1rem 0 0;
//     }
//     &__name{
//         width: 60%;
//         color: #1D1D1D;
//     }
//     &__level{
//         margin-left: auto;
//         color: #1D1D1D;
//         margin: 0 0 0 2rem;

//     }
//     &__category{
//         margin-left: auto;
//         color: #1D1D1D;

//     }

//     &__completion{
//         padding: 1rem 2rem 0 ;
//     }
//     &__info{
//         padding: 0rem 2rem;
//     }
//     &__label{
//         padding: 1rem 0 0 0;
//     }

//     &__notes{
        
//         &--title{
//             padding: 1rem 2rem 0;
//         }

//         &-list{
//             padding: 0rem 2rem 1rem;
//             list-style-type: none;  
//         }
//     }

//     &__card{
//         padding: 1rem 0;
//     }
// }

// .toggle-updateform{
//     padding: 1rem 3rem;
//     background-color: $darkgrey;
//     color: white;
//     border-radius: 1rem;
//     outline: none;
//     border: 1px $lightgrey solid;
//     margin-left: 60%;
// }

// .loading-details{
//     position: absolute;
//     top: 30rem;
//     left: 30rem;
//     color: #A1A1A1;
// }