@font-face {
  font-family: 'Noto Sans';
  src: url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-Italic.woff2") format("woff2"), url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-BoldItalic.woff2") format("woff2"), url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans.woff2") format("woff2"), url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-Bold.woff2") format("woff2"), url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
}

@-webkit-keyframes slidein {
  from {
    bottom: -20rem;
  }
  to {
    bottom: 0rem;
  }
}

@keyframes slidein {
  from {
    bottom: -20rem;
  }
  to {
    bottom: 0rem;
  }
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: lightgrey;
  height: 92vh;
  overflow: hidden;
  position: relative;
  top: 8vh;
}

.landing-page__image {
  top: 8vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.landing-page__hero {
  height: 100%;
  width: 100%;
}

.landing-page__greeting {
  position: absolute;
  width: 100%;
  bottom: 0rem;
  text-align: center;
  padding: 6vh 0;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  border-radius: 1rem 1rem;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation: slidein 2.5s linear none 0 normal both;
          animation: slidein 2.5s linear none 0 normal both;
}

.landing-page__header {
  padding: 0.5rem 0;
  margin: 0 auto;
  color: white;
  border-bottom: 2px white solid;
  width: 35vw;
  text-align: center;
}

.landing-page__toggle {
  background: white;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  font-weight: bold;
  font-size: large;
}

.landing-page__toggle:hover {
  background: #67b4fd;
}

.landing-page__menu {
  position: absolute;
  width: 100%;
  padding: 4vh 0 10vh;
  bottom: 0;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 3rem 0 6rem;
  margin: 0 auto;
}

.client-card--item {
  text-decoration: none;
  color: #373A40;
  margin: 0 2em;
  background-color: white;
  padding: 2rem 1rem;
  height: 3rem;
  text-align: center;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 4px 4px;
          box-shadow: rgba(0, 0, 0, 0.25) 4px 4px;
}

.client-card--item:hover {
  background-color: #67b4fd;
}

.active {
  border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  padding: 0 20vw;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.nav__home {
  text-decoration: none;
  font-weight: 900;
  color: #373A40;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list--link {
  border-right: rgba(0, 0, 0, 0.25) 1px solid;
  border-radius: 1rem;
  list-style-type: none;
}

.nav__list--item {
  font-size: smaller;
  text-decoration: none;
  color: #373A40;
  padding: 0.5rem 1rem;
}

.program-details {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.program-details-card {
  margin: 1rem 0;
  padding: 0rem 3rem 2rem 5rem;
}

.program-details__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  border-bottom: 1px #686D76 solid;
  margin: 1rem 0;
}

.program-details__name {
  width: 60%;
  margin-top: 1rem;
}

.program-details__level {
  margin-left: auto;
}

.program-details__category {
  width: 100%;
  text-align: right;
}

.program-details__completion, .program-details__info, .program-details__notes {
  padding: 0.5rem 1rem;
}

.program-details__notes {
  margin-bottom: 1rem;
}

.program-details__card {
  list-style-type: none;
  padding: 1rem 0;
  border-bottom: 1px lightgray solid;
}

.program-details__label {
  border-bottom: #67b4fd 1px solid;
  padding: 0.5rem 0;
}

.program-details__goal {
  margin: 0.5rem 0;
}

.program-details__task {
  margin: 0.5rem 0;
}

.toggle-updateform, .updateProgramButton {
  width: 30%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 1px lightgrey solid;
  margin-left: 70%;
  background-color: #373A40;
  color: white;
}

.toggle-updateform:hover, .updateProgramButton:hover {
  background-color: #67b4fd;
}

.toggle_update {
  background-color: white;
  border: none;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 4rem;
  color: #27faef;
  padding: 0.5rem 1rem;
  margin: 0 1rem 0 0;
}

.toggle_update:hover {
  background-color: #686D76;
}

#program_currentCorrect, #program_currentTrials {
  margin: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 5vw;
  border: 1px #A1A1A1 solid;
  outline: none;
}

#program_currentCorrect:hover, #program_currentTrials:hover {
  border: 1px #67b4fd solid;
}

#program_currentCorrect:focus, #program_currentTrials:focus {
  border: 1px #67b4fd solid;
}

::-webkit-input-placeholder {
  color: #A1A1A1;
}

:-ms-input-placeholder {
  color: #A1A1A1;
}

::-ms-input-placeholder {
  color: #A1A1A1;
}

::placeholder {
  color: #A1A1A1;
}

.run__goal, .run__completion, .run__notes {
  margin: 0 3rem;
}

#program_createNewNote {
  margin: 1rem 3rem;
  padding: 1rem 2rem;
  width: 80%;
  outline: none;
  border: 1px lightgrey solid;
  border-radius: 1rem;
}

#program_createNewNote:hover {
  border: 1px solid #67b4fd;
}

#program_createNewNote:focus {
  border: 1px #67b4fd solid;
}

.client {
  color: #1d1d1d;
  margin-top: 8vh;
  min-height: 80vh;
  position: relative;
}

.client-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background: url("../Assets/Images/capstone_hero.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.25)));
  background: url("../Assets/Images/capstone_hero.jpg"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  background-size: cover;
  margin: 0rem auto;
  padding: 2rem 10vw;
}

.client-details__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #373A40;
}

.client-details__home {
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: larger;
  color: #373A40;
  border-radius: 4rem;
}

.client-details__home:hover {
  background-color: #686D76;
}

.client-details__container {
  width: 30%;
  height: 15vh;
  padding: 3rem;
  margin: 0 auto;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  border-radius: 1rem;
}

.client-details__header {
  width: 100%;
}

.client-programs {
  width: 100%;
  margin: 0 auto;
  border-radius: 0 0 1rem 1rem;
  min-height: 180vh;
  padding: 1rem 5vw 4rem;
}

.client-programs__header {
  padding: 2rem;
  width: 20%;
  margin-left: 2rem;
}

.client-programs-list {
  border-radius: 1rem;
  min-height: 80vh;
  max-height: 80vh;
  overflow: scroll;
  margin-left: 1rem;
}

.toggle-add {
  margin: 0rem 2rem 2rem 3rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: #e7e7e7 1px solid;
  color: white;
  background-color: #373A40;
}

.toggle-add:hover {
  background-color: #67b4fd;
}

.toggle-close {
  margin: 3rem 1rem 0;
  background-color: white;
  border: none;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 4rem;
  color: #27faef;
  padding: 0.5rem 1rem;
}

.toggle-close:hover {
  background-color: #686D76;
}

.addprogram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  position: absolute;
  margin: 0 auto;
  left: 30%;
  top: 15%;
}

.addprogram__title {
  padding: 3rem 1rem 1rem;
}

.addprogram__input {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border-radius: 1rem;
  outline: none;
  border: #E7E7E7 0.125rem solid;
  width: 70%;
}

.addprogram__input:focus {
  border: #67b4fd 0.125rem solid;
}

.addprogram__input:hover {
  border: 0.125rem #686D76 solid;
}

.addprogram__input--mastery {
  padding: 0.5rem 1rem;
}

.addprogram__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.addprogram__container {
  width: 40%;
  margin: 1rem 2rem;
}

.addprogram__container--mastery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.addprogram__name, .addprogram__index, .addprogram__category, .addprogram__mastery, .addprogram__description, .addprogram__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.addprogram__button {
  margin: 2rem 1rem 2rem 0;
  padding: 1rem;
  width: 30%;
  border-radius: 1rem;
  outline: none;
  border: 0.25rem solid #E7E7E7;
  background-color: #373A40;
  color: white;
}

.addprogram__button:hover {
  background-color: #67b4fd;
}

.input-label {
  width: 70%;
  padding: 0.5rem;
  border-bottom: 0.125rem solid #67b4fd;
  margin: 1rem;
}

.client-programs {
  background-color: white;
}

.client-programs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 25%;
  border-right: 2px #E7E7E7 solid;
}

.program-card {
  list-style-type: none;
  margin: 1rem;
  padding: 1rem 2rem;
  width: 90%;
}

.program-card:hover {
  background-color: #67b4fd;
}

.program-card__heading {
  text-decoration: none;
  color: #373A40;
}

.program-details-card {
  position: absolute;
  width: 55%;
  top: 15%;
  left: 30%;
  border-radius: 1rem;
}

#program-chart {
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-bottom: #686D76 1px solid;
  margin: 1rem auto;
}
/*# sourceMappingURL=main.css.map */