@font-face {
  font-family: 'Noto Sans';
  src: url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-Italic.woff2") format("woff2"), url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-BoldItalic.woff2") format("woff2"), url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans.woff2") format("woff2"), url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-Bold.woff2") format("woff2"), url("../Assets/Fonts/transfonter.org-20201210-032642/NotoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #373A40;
}

.landing-page__header {
  width: 60%;
  padding: 20rem 0 2rem;
  text-align: center;
  color: #EEEEEE;
  border-bottom: 2px #9fd9db solid;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: 60%;
  padding: 3rem 0 20rem;
}

.client-card {
  margin: 0 2em;
  background-color: #EEEEEE;
  height: 5rem;
  width: 5rem;
  text-align: center;
  padding: 3rem 0;
  border-radius: 1rem;
  -webkit-box-shadow: #9fd9db 4px 4px;
          box-shadow: #9fd9db 4px 4px;
}

.program-details {
  width: 40%;
}

.program-details-card {
  width: 100%;
  list-style-type: none;
  padding-bottom: 3rem;
  margin: 2rem 0;
  background-color: #EEEEEE;
  -webkit-box-shadow: #E7E7E7 0.5rem 0.5rem;
          box-shadow: #E7E7E7 0.5rem 0.5rem;
}

.program-details-cardlist {
  margin: 1rem 0;
}

.program-details__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
  background-color: #9fd9db;
  border-radius: 1rem 1rem 0 0;
}

.program-details__name {
  width: 60%;
  color: #1D1D1D;
}

.program-details__level {
  margin-left: auto;
  color: #1D1D1D;
  margin: 0 0 0 2rem;
}

.program-details__category {
  margin-left: auto;
  color: #1D1D1D;
}

.program-details__completion {
  padding: 1rem 2rem 0;
}

.program-details__info {
  padding: 0rem 2rem;
}

.program-details__label {
  padding: 1rem 0 0 0;
}

.program-details__notes--title {
  padding: 1rem 2rem 0;
}

.program-details__notes-list {
  padding: 0rem 2rem 1rem;
  list-style-type: none;
}

.loading-details {
  position: absolute;
  top: 30rem;
  left: 30rem;
  color: #A1A1A1;
}

.client {
  background-color: #a1a1a1;
  color: #1d1d1d;
  margin: 0;
  padding: 4rem 0;
  min-height: 100vh;
  position: relative;
}

.client-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  background-color: white;
  border-radius: 1rem 1rem 0 0;
  margin: 0rem auto;
  padding: 2rem 2rem;
  background-color: #9fd9db;
}

.client-details__container {
  width: 33%;
  padding: 2rem 0 1rem 3rem;
}

.client-details__header {
  width: 100%;
}

.client-programs {
  width: 80%;
  margin: 0 auto;
  background-color: #EEEEEE;
  border-radius: 0 0 1rem 1rem;
  min-height: 100vh;
  padding: 1rem 0 4rem;
}

.client-programs__header {
  padding: 2rem;
}

.toggle-add {
  margin: 0rem 2rem 2rem;
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  border: #e7e7e7 1px solid;
  color: white;
  background-color: #373A40;
}

.toggle-add:hover {
  background-color: #9fd9db;
}

.toggle-close {
  outline: none;
  border: none;
  margin: 1rem;
  color: white;
  background-color: lightgray;
  padding: 0.25rem .5rem;
  border-radius: 1rem;
}

.toggle-close:hover {
  background-color: #373A40;
}

.addprogram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  background-color: #EEEEEE;
  border-radius: 1rem;
  position: absolute;
  margin: 0 auto;
  left: 15vw;
  top: 20vh;
}

.addprogram__title {
  padding: 3rem 1rem 1rem;
  border-bottom: 0.125rem #9fd9db solid;
}

.addprogram__input {
  padding: 0.5rem 6.5rem 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border-radius: 1rem;
  outline: none;
  border: #E7E7E7 1px solid;
}

.addprogram__input:focus {
  border: #9fd9db 0.125rem solid;
}

.addprogram__input--mastery {
  padding: 0.5rem 1rem;
}

.addprogram__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 2rem;
}

.addprogram__container {
  width: 40%;
}

.addprogram__name, .addprogram__index, .addprogram__category, .addprogram__mastery, .addprogram__description, .addprogram__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.addprogram__masteryrequiredTrials {
  width: 20%;
  margin: 0.5rem 5rem;
}

.addprogram__masteryrequiredCorrect {
  width: 20%;
  margin: 0.5rem 5.35rem;
}

.addprogram__button {
  margin: 2rem 1rem 2rem 0;
  padding: 1rem;
  width: 30%;
  border-radius: 1rem;
  outline: none;
  border: 0.25rem solid #E7E7E7;
  background-color: #373A40;
  color: white;
}

.input-label {
  width: 70%;
  padding: 0.5rem;
  border-bottom: 0.125rem solid #9fd9db;
  margin: 1rem;
}

.client-programs {
  background-color: white;
}

.client-programs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 25%;
  border-right: 2px #E7E7E7 solid;
}

.program-card {
  list-style-type: none;
  margin: 1rem;
  padding: 1rem 2rem;
}

.program-card:hover {
  background-color: #9fd9db;
}

.program-card__heading {
  text-decoration: none;
  color: #373A40;
}

.program-details-card {
  position: absolute;
  width: 40%;
  top: 20rem;
  left: 30rem;
  border-radius: 1rem;
}
/*# sourceMappingURL=main.css.map */